<%- include("../templates/headerTemplate")%>

<div class="max-w-[450px] w-full min-h-svh mx-auto py-[50px] px-[35px] flex flex-col justify-center items-center text-sky-100 text-md font-medium text-center">
    <h1 class="text-sky-300 text-3xl font-bold mb-5">Widgets</h1>
    <div class="w-full grid justify-items-center">
        <div class="w-full grid grid-rows-[repeat(2, auto)] bg-gray-700 shadow-lg rounded-2xl m-2 justify-items-center overflow-hidden">
            <button class="w-full h-full py-4 px-5 items-center border-b border-gray-800 hover:bg-gray-800 duration-150" onclick="toggleAccordion('temperature')">
                Temperature
            </button>
            <div id="temperature" class="w-full hidden py-4 px-5 flex flex-col items-center bg-gray-600 border-b border-gray-800">
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Enabled</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "temperatureEnabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Units</span>
                    <%- include("../templates/widgetSettingsSelectTemplate", {
                        id: "temperatureUnits",
                        options: [
                            { value: "c", label: "Celsius" },
                            { value: "f", label: "Fahrenheit" },
                            { value: "k", label: "Kelvin" }
                        ]
                    }) %>
                </div>
            </div>
            <button class="w-full h-full py-4 px-5 items-center border-b border-gray-800 hover:bg-gray-800 duration-150" onclick="toggleAccordion('airQuality')">
                Air Quality
            </button>
            <div id="airQuality" class="w-full hidden py-4 px-5 items-center bg-gray-600 border-b border-gray-800">
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Enabled</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "airQualityEnabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Carbon Monoxide</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "coEnabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Nitrogen Monoxide</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "noEnabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Nitrogen Dioxide</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "no2Enabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Ozone</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "o3Enabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Sulphur Dioxide</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "so2Enabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Fine Particulates</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "pm2_5Enabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Course Particulates</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "pm10Enabled"}) %>
                </div>
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Ammonia</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "nh3Enabled"}) %>
                </div>
            </div>
            <button class="w-full h-full py-4 px-5 items-center border-b border-gray-800 hover:bg-gray-800 duration-150" onclick="toggleAccordion('location')">
                Location
            </button>
            <div id="location" class="w-full hidden py-4 px-5 items-center bg-gray-600 border-b border-gray-800">
                <div class="w-full flex justify-between items-center py-2 px-5 bg-gray-700 hover:bg-gray-800 duration-150">
                    <span>Enabled</span>
                    <%- include("../templates/widgetSettingsInputTemplate", {id: "locationEnabled"}) %>
                </div>
            </div>
        </div>
    </div>
    <div id="saveSettingsDiv" class="w-full grid justify-items-center">
        <div class="w-full grid bg-emerald-400 shadow-lg rounded-2xl m-2 justify-items-center hover:bg-emerald-300 duration-200 text-lg font-bold"></div>
        <button id="saveSettingsButton" class="w-full grid bg-gray-400 shadow-lg rounded-2xl m-2 justify-items-center duration-200 text-lg font-bold" onclick="saveSettings()" disabled>
            <span class="w-full h-full py-4 px-5 text-gray-900">SAVE</span>
        </button>
    </div>
    <div class="w-full grid justify-items-center">
        <div class="w-full grid bg-sky-400 shadow-lg rounded-2xl m-2 justify-items-center hover:bg-sky-300 duration-200 text-lg font-bold"></div>
        <a class="w-full grid bg-sky-400 shadow-lg rounded-2xl m-2 justify-items-center hover:bg-sky-300 duration-200 text-lg font-bold" href="../settings">
            <span class="w-full h-full py-4 px-5 text-gray-900">GO BACK</span>
        </a>
    </div>
</div>

<%- include("../templates/footerTemplate") %> 

<script>
    document.addEventListener('DOMContentLoaded', () => {
        loadSavedSettings();

        let initialSettings = getSettings();
        
        const saveButton = document.getElementById('saveSettingsButton');
        const inputs = document.querySelectorAll('input, select');
        
        inputs.forEach(input => {
            input.addEventListener('change', () => {
                const currentSettings = getSettings();
                const settingsChanged = JSON.stringify(initialSettings) !== JSON.stringify(currentSettings);
                saveButton.disabled = !settingsChanged;
                saveButton.classList.toggle('bg-gray-400', !settingsChanged);
                saveButton.classList.toggle('hover:bg-emerald-300', settingsChanged);
                saveButton.classList.toggle('bg-emerald-400', settingsChanged);
            });
        });

        saveButton.addEventListener('click', () => {
            initialSettings = getSettings();
            saveButton.disabled = true;
            saveButton.classList.toggle('bg-gray-400', true);
            saveButton.classList.toggle('hover:bg-emerald-300', false);
            saveButton.classList.toggle('bg-emerald-400', false);
        })
    });

    function loadSavedSettings() {
        const widgetSettings = <%- JSON.stringify(widgetSettings || {}) %>;

        if (widgetSettings.temperature) {
            document.getElementById('temperatureEnabled').checked = widgetSettings.temperature.enabled || false;
            document.getElementById('temperatureUnits').value = widgetSettings.temperature.units || '';
        }

        if (widgetSettings.airQuality) {
            document.getElementById('airQualityEnabled').checked = widgetSettings.airQuality.enabled || false;

            const components = widgetSettings.airQuality.components || {};
            document.getElementById('coEnabled').checked = components.co || false;
            document.getElementById('noEnabled').checked = components.no || false;
            document.getElementById('no2Enabled').checked = components.no2 || false;
            document.getElementById('o3Enabled').checked = components.o3 || false;
            document.getElementById('so2Enabled').checked = components.so2 || false;
            document.getElementById('pm2_5Enabled').checked = components.pm2_5 || false;
            document.getElementById('pm10Enabled').checked = components.pm10 || false;
            document.getElementById('nh3Enabled').checked = components.nh3 || false;
        } else {
            document.getElementById('coEnabled').checked = false;
            document.getElementById('noEnabled').checked = false;
            document.getElementById('no2Enabled').checked = false;
            document.getElementById('o3Enabled').checked = false;
            document.getElementById('so2Enabled').checked = false;
            document.getElementById('pm2_5Enabled').checked = false;
            document.getElementById('pm10Enabled').checked = false;
            document.getElementById('nh3Enabled').checked = false;
        }

        if (widgetSettings.location) {
            document.getElementById('locationEnabled').checked = widgetSettings.location.enabled || false;
        }
    }

    function toggleAccordion(id) {
        const element = document.getElementById(id);
        element.classList.toggle('hidden');
    }

    function getSettings() {
        const settings = {
            temperature: {
                enabled: document.getElementById('temperatureEnabled').checked,
                units: document.getElementById('temperatureUnits').value
            },
            airQuality: {
                enabled: document.getElementById('airQualityEnabled').checked,
                components: {
                    co: document.getElementById('coEnabled').checked,
                    no: document.getElementById('noEnabled').checked,
                    no2: document.getElementById('no2Enabled').checked,
                    o3: document.getElementById('o3Enabled').checked,
                    so2: document.getElementById('so2Enabled').checked,
                    pm2_5: document.getElementById('pm2_5Enabled').checked,
                    pm10: document.getElementById('pm10Enabled').checked,
                    nh3: document.getElementById('nh3Enabled').checked
                }
            },
            location: {
                enabled: document.getElementById('locationEnabled').checked
            }
        };
        return settings;
    }

    async function saveSettings() {
        const settings = getSettings();

        try {
            const response = await fetch('/settings/widgets/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(settings)
            });

            if (response.ok) {
                // console.log('Settings saved successfully!');
            } else {
                console.error('Failed to save settings.');
            }
        } catch (error) {
            console.error('Error saving settings:', error);
        }
    }
</script>