<%- include("templates/headerTemplate")%>
<div class="max-w-[450px] w-full min-h-svh mx-auto px-[35px] bg-gray-900 flex flex-col pt-5 pb-[90px] items-center justify-center space-y-5 text-sky-100 text-md font-medium">
    <!-- Go back button -->
    <div class="max-w-[450px] w-full mx-auto text-sky-100 pb-5">
        <a onclick="history.back()" class="hover:text-sky-400 duration-150 cursor-pointer">
            <i class="ml-2 fa-solid fa-angle-left"></i> Go back
        </a>
    </div>
    
    <form id="contactInfoForm" action="/profile/contactInfo" method="POST" class="w-full flex flex-col items-center space-y-10 text-md">
        <!-- My contact info -->
        <div class="w-full flex flex-col items-center space-y-4">
            <h1 class="text-sky-300 text-3xl font-bold mb-2">Contact Information</h1>
            <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
                <span class="border-r-2 pr-2 mr-3 flex items-center justify-center whitespace-nowrap">Email</span>
                <span id="emailDisplay"><%= user.email %></span>
                <input type="email" name="email" id="emailInput" class="hidden w-[-webkit-fill-available] bg-gray-800 text-sky-100 py-2 px-3 rounded-xl focus:outline-none" value="<%= user.email %>">
            </div>
            <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
                <span class="border-r-2 pr-2 mr-3 flex items-center justify-center whitespace-nowrap">Secondary Email</span>
                <span id="secondaryEmailDisplay"><%= user.secondaryEmail %></span>
                <input type="email" name="secondaryEmail" id="secondaryEmailInput" class="hidden w-[-webkit-fill-available] bg-gray-800 text-sky-100 py-2 px-3 rounded-xl focus:outline-none" value="<%= user.secondaryEmail %>">
            </div>
            <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
                <span class="border-r-2 pr-2 mr-3 flex items-center justify-center whitespace-nowrap">Phone Number</span>
                <span id="phoneNumberDisplay"><%= user.phoneNumber %></span>
                <input type="text" name="phoneNumber" id="phoneNumberInput" class="hidden w-[-webkit-fill-available] bg-gray-800 text-sky-100 py-2 px-3 rounded-xl focus:outline-none" value="<%= user.phoneNumber %>" pattern="\d{10}" title="Please enter a 10-digit phone number">
            </div>
        </div>

        <!-- Emergency contact info -->
        <div class="w-full flex flex-col items-center space-y-4">
            <h1 class="text-sky-300 text-3xl font-bold mb-2">Emergency Contact</h1>
            <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
                <span class="border-r-2 pr-2 mr-3 flex items-center justify-center whitespace-nowrap">Email</span>
                <span id="emergencyEmailDisplay"><%= user.emergencyEmail %></span>
                <input type="email" name="emergencyEmail" id="emergencyEmailInput" class="hidden w-[-webkit-fill-available] bg-gray-800 text-sky-100 py-2 px-3 rounded-xl focus:outline-none" value="<%= user.emergencyEmail %>">
            </div>
            <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
                <span class="border-r-2 pr-2 mr-3 flex items-center justify-center whitespace-nowrap">Phone Number</span>
                <span id="emergencyPhoneNumberDisplay"><%= user.emergencyPhoneNumber %></span>
                <input type="text" name="emergencyPhoneNumber" id="emergencyPhoneNumberInput" class="hidden w-[-webkit-fill-available] bg-gray-800 text-sky-100 py-2 px-3 rounded-xl focus:outline-none" value="<%= user.emergencyPhoneNumber %>" pattern="\d{10}" title="Please enter a 10-digit phone number">
            </div>
        </div>
    </form>

    <!-- Edit & save button -->
    <div class="w-full flex flex-col items-center space-y-4 text-gray-900 text-lg font-bold">
        <button id="editButton" class="w-full bg-sky-400 py-3 rounded-2xl hover:bg-sky-300 hover:text-gray-800 duration-200">
            EDIT
            <i class="fa-solid fa-pen"></i>
        </button>
        <button id="saveButton" class="hidden w-full bg-sky-400 py-4 rounded-2xl hover:bg-sky-300 hover:text-gray-800 duration-200" form="contactInfoForm">
            SAVE
        </button>
    </div>
</div>

<%- include("templates/footerTemplate")%>

<script>
    document.getElementById('editButton').addEventListener('click', function() {
        document.getElementById('editButton').classList.add('hidden');
        document.getElementById('saveButton').classList.remove('hidden');
        
        document.getElementById('emailDisplay').classList.add('hidden');
        document.getElementById('emailInput').classList.remove('hidden');
        
        document.getElementById('secondaryEmailDisplay').classList.add('hidden');
        document.getElementById('secondaryEmailInput').classList.remove('hidden');
        
        document.getElementById('phoneNumberDisplay').classList.add('hidden');
        document.getElementById('phoneNumberInput').classList.remove('hidden');
        
        document.getElementById('emergencyEmailDisplay').classList.add('hidden');
        document.getElementById('emergencyEmailInput').classList.remove('hidden');
        
        document.getElementById('emergencyPhoneNumberDisplay').classList.add('hidden');
        document.getElementById('emergencyPhoneNumberInput').classList.remove('hidden');
    });

    function validateForm() {
        const phoneNumber = document.getElementById('phoneNumberInput').value;
        const emergencyPhoneNumber = document.getElementById('emergencyPhoneNumberInput').value;

        const phonePattern = /^\d{10}$/;

        if (!phonePattern.test(phoneNumber)) {
            alert("Please enter a valid 10-digit phone number.");
            return false;
        }

        if (!phonePattern.test(emergencyPhoneNumber)) {
            alert("Please enter a valid 10-digit emergency phone number.");
            return false;
        }

        return true;
    }

</script>
