<%- include("templates/headerTemplate")%>
<div id="medHistoryWrap" class="max-w-[450px] w-full min-h-svh mx-auto px-[35px] py-[50px] pb-[100px] bg-gray-900 flex flex-col items-center space-y-5 text-sky-100 text-md font-medium">
    <!-- Page title -->
    <h1 class="text-sky-300 text-3xl font-bold mb-5">Medical History</h1>

    <!-- List of Medications -->
    <div class="w-full bg-gray-700 shadow-lg py-5 px-5 flex flex-col rounded-2xl">
        <h1 id="medication" class="w-full flex justify-between items-center cursor-pointer">
            Medications 
            <i id="medicationTitle" class="fa-solid fa-chevron-down duration-200"></i>
        </h1>
        <ul id="medications" class="w-full h-0 overflow-hidden flex flex-col space-y-3 duration-300">
            <% if (user.medications !== undefined) { %>
                <% user.medications.forEach(medication => { %>
                    <li class="w-full bg-gray-800 py-3 px-4 rounded-xl">
                        <%= medication %>
                    </li>
                <% }) %>
            <% } %>
            <form action="/profile/medHistory/addMedication" method="POST" class="w-full">
                <input type="text" name="medication" placeholder="New Medication" class="w-full bg-gray-800 py-3 px-4 rounded-xl placeholder-gray-400 text-sky-100 font-medium focus:outline-none mb-3">
                <button type="submit" class="w-full bg-sky-400 py-3 rounded-xl text-gray-900 font-extrabold hover:bg-sky-300 duration-200">
                    <i class="fa-solid fa-plus"></i> ADD
                </button>
            </form>
        </ul>
    </div>

    <!-- List of Illnesses -->
    <div class="w-full bg-gray-700 shadow-lg py-5 px-5 flex flex-col rounded-2xl">
        <h1 id="illness" class="w-full flex justify-between items-center cursor-pointer">
            Illnesses 
            <i id="illnessTitle" class="fa-solid fa-chevron-down duration-200"></i>
        </h1>
        <ul id="illnesses" class="w-full h-0 overflow-hidden flex flex-col space-y-3 duration-300">
            <% if (user.illnesses != undefined) { %>
                <% user.illnesses.forEach(illness => { %>
                    <li class="w-full bg-gray-800 py-3 px-4 rounded-xl">
                        <%= illness %>
                    </li>
                <% }) %>
            <% } %>
            <form action="/profile/medHistory/addIllness" method="POST" class="w-full">
                <input type="text" name="illness" placeholder="New Illness" class="w-full bg-gray-800 py-3 px-4 rounded-xl placeholder-gray-400 text-sky-100 font-medium focus:outline-none mb-3">
                <button type="submit" class="w-full bg-sky-400 py-3 rounded-xl text-gray-900 font-extrabold hover:bg-sky-300 duration-200">
                    <i class="fa-solid fa-plus"></i> ADD
                </button>
            </form>
        </ul>
    </div>

    <!-- List of Allergies -->
    <div class="w-full bg-gray-700 shadow-lg py-5 px-5 flex flex-col rounded-2xl">
        <h1 id="allergy" class="w-full flex justify-between items-center cursor-pointer">
            Allergies 
            <i id="allergyTitle" class="fa-solid fa-chevron-down duration-200"></i>
        </h1>
        <ul id="allergies" class="w-full h-0 overflow-hidden flex flex-col space-y-3 duration-300">
            <% if (user.allergies != undefined) { %>
                <% user.allergies.forEach(allergy => { %>
                    <li class="w-full bg-gray-800 py-3 px-4 rounded-xl">
                        <%= allergy %>
                    </li>
                <% }) %>
            <% } %>
            <form action="/profile/medHistory/addAllergy" method="POST" class="w-full">
                <input type="text" name="allergy" placeholder="New Allergy" class="w-full bg-gray-800 py-3 px-4 rounded-xl placeholder-gray-400 text-sky-100 font-medium focus:outline-none mb-3">
                <button type="submit" class="w-full bg-sky-400 py-3 rounded-xl text-gray-900 font-extrabold hover:bg-sky-300 duration-200">
                    <i class="fa-solid fa-plus"></i> ADD
                </button>
            </form>
        </ul>
    </div>

</div>

<div id='MedicationModal' class="fixed inset-0 bg-gray-900 bg-opacity-60 flex items-center justify-center z-50">
    <div class="bg-gray-800 border-2 border-gray-600 rounded-lg shadow-lg p-8 flex flex-col min-h-fit max-w-md mx-auto items-center w-full transform transition duration-500 text-cyan-100">
        <h2 class="modalTitle text-2xl font-bold mb-4 text-center">
            <button onclick="closeModal('MedicationModal')" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            <i class="fa-solid fa-pencil"></i> Medications</h2>
        <ul id="medications" class="w-full flex flex-col space-y-3 duration-300">
            <form action="/profile/medHistory/addMedication" method="POST" class="w-full">
                <input type="text" name="medication" placeholder="New Medication" class="w-full bg-gray-700 py-3 px-4 rounded-xl placeholder-gray-400 text-sky-100 focus:outline-none mb-3">
                <input type="text" name="dosage" placeholder="Dosage" class="w-full bg-gray-700 py-3 px-4 rounded-xl placeholder-gray-400 text-sky-100 focus:outline-none mb-3">
                <div class="flex flex-row">
                    <select name="frequency" class="select w-full bg-gray-700 px-4 rounded-xl placeholder-gray-400 text-sky-100 text-[1rem] focus:outline-none mb-3">
                        <option disabled selected>Frequency</option>
                        <option value="1x">Once</option>
                        <option value="2x">Twice</option>
                        <option value="3x">3 times</option>
                        <option value="4x">4 times</option>
                        <option value="8x">8 times</option>
                        <option value="12x">12 times</option>
                    </select>
                    <p class="py-3 px-3">every</p>
                    <select name="period" class="select w-full bg-gray-700 px-4 rounded-xl  text-sky-100 text-[1rem] focus:outline-none mb-3" mandatory>
                        <option disabled selected>Period</option>
                        <option value="daily">Day</option>
                        <option value="weekly">Week</option>
                        <option value="monthly">Month</option>
                    </select>
                </div>
                <button type="submit" class="w-full text-lg bg-green-400 py-3 rounded-xl text-gray-900 font-extrabold hover:bg-green-300 duration-200">
                    <i class="fa-solid fa-plus"></i> ADD
                </button>
            </form>
        </ul>
        <!-- <button onclick="closeModal('MedicationModal')" class="mt-4 bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded transition duration-300">Save</button> -->
    </div>
  </div>
<script src="/js/modal.js"></script>
<script>
    document.getElementById("medication").onclick = function() {
        var element = document.getElementById("medications");
        var icon = document.getElementById("medicationTitle");
        if (element.classList.contains("h-0")) {
            element.classList.remove("h-0");
            element.classList.add("mt-4");
            icon.classList.add("rotate-180");
        } else {
            element.classList.add("h-0");
            element.classList.remove("mt-4");
            icon.classList.remove("rotate-180");
        }
    }

    document.getElementById("illness").onclick = function(){
        var element = document.getElementById("illnesses");
        var icon = document.getElementById("illnessTitle");
        if (element.classList.contains("h-0")) {
            element.classList.remove("h-0");
            element.classList.add("mt-4");
            icon.classList.add("rotate-180");
        } else {
            element.classList.add("h-0");
            element.classList.remove("mt-4");
            icon.classList.remove("rotate-180");
        }
    }

    document.getElementById("allergy").onclick = function(){
        var element = document.getElementById("allergies");
        var icon = document.getElementById("allergyTitle");
        if (element.classList.contains("h-0")) {
            element.classList.remove("h-0");
            element.classList.add("mt-4");
            icon.classList.add("rotate-180");
        } else {
            element.classList.add("h-0");
            element.classList.remove("mt-4");
            icon.classList.remove("rotate-180");
        }
    }
</script>
<%- include("templates/footerTemplate")%>
