<%- include("templates/headerTemplate")%>
<div class="max-w-[450px] w-full min-h-svh mx-auto bg-gray-900 flex flex-col px-[35px] py-[50px] pb-[100px] items-center justify-center space-y-5 text-sky-100 text-md font-medium">
       <!-- Page title -->
    <h1 class="text-sky-300 text-3xl font-bold mb-5">Personal Information</h1>

       <!-- List of personal information -->
    <form id="personalInfoForm" action="/profile/personalInfo/edit" method="POST" class="w-full flex flex-col items-center space-y-4 text-md">
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
            <span class="border-r-2 pr-2 mr-3">First Name</span>
            <span id="firstNameDisplay"><%= user.firstName %></span>
            <input type="text" name="firstName" id="firstNameInput" class="hidden bg-gray-800 text-sky-100 w-full rounded focus:outline-none" value="<%= user.firstName %>">
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
            <span class="border-r-2 pr-2 mr-3">Last Name</span>
            <span id="lastNameDisplay"><%= user.lastName %></span>
            <input type="text" name="lastName" id="lastNameInput" class="hidden bg-gray-800 text-sky-100 w-full rounded focus:outline-none" value="<%= user.lastName %>">
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
            <span class="border-r-2 pr-2 mr-3">Birth Date</span>
            <span id="birthDateDisplay"><%= user.birthDate %></span>
            <input type="date" name="birthDate" id="birthDateInput" class="hidden bg-gray-800 text-sky-100 w-full rounded focus:outline-none" value="<%= user.birthDate %>">
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
            <span class="border-r-2 pr-2 mr-3">Country</span>
            <span id="countryDisplay"><%= user.country %></span>
            <input type="text" name="country" id="countryInput" class="hidden bg-gray-800 text-sky-100 w-full rounded focus:outline-none" value="<%= user.country %>">
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl flex">
            <span class="border-r-2 pr-2 mr-3">City</span>
            <span id="cityDisplay"><%= user.city %></span>
            <input type="text" name="city" id="cityInput" class="hidden bg-gray-800 text-sky-100 w-full rounded focus:outline-none" value="<%= user.city %>">
        </div>
    </form>

        <!-- Edit & save button -->
    <div class="w-full flex flex-col items-center space-y-4 text-gray-900 text-lg font-bold">
        <button id="editButton" class="w-full bg-sky-400 py-4 rounded-2xl hover:bg-sky-300 hover:text-gray-800 duration-200">
            EDIT
            <i class="fa-solid fa-pen"></i>
        </button>
        <button id="saveButton" class="hidden w-full bg-sky-400 py-4 rounded-2xl hover:bg-sky-300 hover:text-gray-800 duration-200" form="personalInfoForm">
            SAVE
        </button>
    </div>
</div>
<%- include("templates/footerTemplate")%>

<script>
    document.getElementById('editButton').addEventListener('click', function() {
        document.getElementById('editButton').classList.add('hidden');
        document.getElementById('saveButton').classList.remove('hidden');
        
        document.getElementById('firstNameDisplay').classList.add('hidden');
        document.getElementById('firstNameInput').classList.remove('hidden');
        
        document.getElementById('lastNameDisplay').classList.add('hidden');
        document.getElementById('lastNameInput').classList.remove('hidden');
        
        document.getElementById('birthDateDisplay').classList.add('hidden');
        document.getElementById('birthDateInput').classList.remove('hidden');
        
        document.getElementById('countryDisplay').classList.add('hidden');
        document.getElementById('countryInput').classList.remove('hidden');
        
        document.getElementById('cityDisplay').classList.add('hidden');
        document.getElementById('cityInput').classList.remove('hidden');
    });
</script>
