<%- include("templates/headerTemplate")%>
<div class="max-w-[450px] w-100 min-h-svh mx-auto px-[30px] py-[50px] bg-gray-900 flex flex-col pb-[90px] items-center justify-center space-y-5 text-sky-100 text-md font-medium">
    <!-- User profile img and name -->
    <div class="flex flex-col items-center">
        <div class="w-[120px] h-[120px] flex justify-center items-center rounded-full bg-sky-300 drop-shadow-md">
            <% if (user.profile_pic) { %>
                <img src="<%= user.profile_pic %>" alt="Profile img" class="w-full h-full object-cover text-black">
            <% } else { %>
                <img src="https://res.cloudinary.com/dpktouqx0/image/upload/v1716974155/avatardefault_fylgvg.png" alt="Profile img" class="w-[110%] h-[110%] object-cover text-black">
            <% } %>
        </div>
        <h1 class="text-2xl text-sky-300"><%= user.firstName %> <%= user.lastName %></h1>
    </div>
    
    <form action="/uploadProfilePic" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="<%= user._id %>">
        <div class="field is-horizontal">
            <div id="picture-upload" class="file">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-image"></i>
                    </span>
                    <span class="file-label">Choose a new profile picture...</span>
                </span>
                    <input id="newProfilePic" class="file-input file-input-bordered file-input-info w-full" accept="image/png, image/jpeg" type="file" name="image"/>
               
            </div>
            &nbsp;
            <div class="field w-full flex">
                <button class="btn btn-info mx-auto text-xl hidden">
                    <i class="fas fa-upload"></i>
                    <span>Update picture</span>
                </button>
            </div>
        </div>
    </form>
    

    <!-- Account info -->
    <div class="w-full bg-gray-700 shadow-lg py-5 px-5 flex flex-col space-y-3 rounded-2xl">
        <h1>Account Information</h1>
        <div class="w-full bg-gray-800 py-3 px-4 rounded-xl"><%= user.email %></div>
        <div class="w-full bg-gray-800 py-3 px-4 rounded-xl flex justify-between items-center">Edit Password <i class="fa-solid fa-pen"></i></div>
    </div>

    <!-- Btn to go to personal info -->
    <div class="w-full bg-gray-700 shadow-lg rounded-2xl cursor-pointer hover:bg-gray-800 duration-150">
        <a href="/profile/personalInfo" class="w-full h-full py-4 px-5 flex justify-between items-center">
            Personal Information  <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>

    <!-- Btn to go to contact info -->
    <div class="w-full bg-gray-700 shadow-lg rounded-2xl cursor-pointer hover:bg-gray-800 duration-150">
        <a href="/profile/contactInfo" class="w-full h-full py-4 px-5 flex justify-between items-center">
            Contact Information <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>

    <!-- Btn to go to medical history -->
    <div class="w-full bg-gray-700 shadow-lg rounded-2xl cursor-pointer hover:bg-gray-800 duration-150">
        <a href="/profile/medHistory" class="w-full h-full py-4 px-5 flex justify-between items-center">
            Medical History <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>
</div>

<script>
    const fileInput = document.getElementById('newProfilePic');
    const uploadBtn = document.querySelector('.btn-info');
    const fileUpload = document.getElementById('picture-upload');

    fileInput.addEventListener('change', () => {
        if (fileInput.files.length > 0) {
            uploadBtn.classList.remove('hidden');
            // fileUpload.classList.add('hidden');
        }
    });
</script>
<%- include("templates/footerTemplate")%>