<div class="p-4 lg:w-1/4 sm:w-1/2 w-full group" id="<%= id%>" <% if (!enabled) { %> style="display: none;" <% } %>>
    <% if (bgImg){ %>
        <% bg = `bg-[url(${bgImg})] bg-opacity-10 bg-cover`; %>
        <% } else { %>
        <% bg = "bg-gray-700"; %>
    <% } %>
    <div class="border-2 <%=bg%> border-gray-600 px-4 py-6 rounded-lg transform transition duration-500 hover:scale-110 text-cyan-100">
        <% if (path) { %>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox="0 -960 960 960" class="fill-cyan-400 group-hover:animate-pulse duration-1000 w-12 h-12 mb-3 inline-block">
                <path d="<%= path %>" />
            </svg>
        <% } %>
        <% if (icon) { %>
            <i class="text-cyan-400 group-hover:animate-pulse w-12 h-12 mb-3 inline-block <%= icon %>"></i>
        <% } %>
            
      <h2 class="title-font font-medium text-3xl drop-shadow-xl indexCardTitle" style=<% bgImg ? "text-shadow: #000 2px 2px 10px;" : ""%>><%= title %></h2>
      <% if (bgImg) { %>
        <div class="absolute inset-0 rounded-lg bg-opacity-55 -z-20 bg-black"></div>
        <% } %>
      <p class="leading-relaxed indexCardContent"><%= content %></p>
    </div>
  </div>